@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&display=swap');
body{
    font-family: 'Playfair Display', serif;
    background-color: #eaecee;
    color: #3c3e41;
    margin: 0;
    font-size: 15px;
}
:root{
    --border: 1px solid #dce1e4;
}
a{
    color: #3c3e41;
    text-decoration: none;
}
header{
    padding: 12px;
    width: calc(100% - 30px);
    border-bottom: var(--border);
    display: grid;
    grid-template-columns: 20% 80%;
    background: #dddddd; 
    border-radius: 10px;
}
.rounded-circle {
    border-radius: 50% !important;
    width: 50px;
    height: 50px;
    margin-right: 10px;
}
.logo {
    display: flex;
    align-items: center;
    font-weight: 700;
}
header ul{
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: end;
    align-items: center;
}
header ul li{
    padding: 0 20px;
    font-size: 15px;
    font-weight: 700;
}
.gradient h1{
    font-size: 50px;
    font-weight: 700;
    background: linear-gradient(to right,#33cc99,#33ccff, #9966ff);  /*background color from left to right*/
    -webkit-background-clip: text;
    color: transparent;
}
.gradient h2{
    font-size: 30px;
    font-weight: 700;
    background: linear-gradient(to right,#33ccff,#9966ff);  /*background color from left to right*/
    -webkit-background-clip: text;
    color: transparent;
}