<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CV-DaoThuyTrang</title>
    <link rel="stylesheet" href="../css/style.css">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"> -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@coreui/coreui-pro@4.6.4/dist/css/coreui.min.css" integrity="sha384-H8oVKJOQVGGCdfFNM+9gLKN0xagtq9oiNLirmijheEuqD3kItTbTvoOGgxVKqNiB" crossorigin="anonymous">
</head>
<body>
    <header>
        <div class="logo">
            <img src="../image/logo.jpg" alt="avatar" class="rounded-circle" width="50" height="50">
            <a>Software Developer</a>
        </div>
        <ul class="nav">
            <li>About me</li>
            <li>Objectives</li>
            <li>Skills</li>
            <li>Certificates</li>
            <li>Experience</li>
            <li>Projects</li>
            <li>Activities</li>
        </ul>
    </header>
    <div class="container">
        <div class="introduce">
            <div class ="gradient">
                <h1>Hi! I'm Thuy Trang.</h1>
                <h2>Welcome to My Profile.</h2>
                <div class="find">
                    <a class="btn" href="https://drive.google.com/file/d/1XbiY_4Pw2Y_zfmK-S47Yu5_125guo47S/view?usp=sharing" download="CV-DaoThuyTrang">
                        <i class="fa-solid fa-download"></i> Download CV
                    </a>
                </div>
                <div class="contact">
                    <h3>CONTACT WITH ME</h3>
                    <ul>
                        <li><i class="fa-brands fa-facebook"></i></li>
                        <li><i class="fa-brands fa-instagram"></i></li>
                        <li><i class="fa-brands fa-github"></i></li>
                        <li><i class="fa-brands fa-hackerrank"></i></li>
                        <li><i class="cib-leetcode"></i></li>
                    </ul>
                </div>
            </div>
            <div class="avatar">
                <img src="../image/image5.jpg" alt="Thuy Trang" class="rounded-circle" width="500" height="500">
            </div>
        </div>
        <!-- About me -->
        <div id="about">
            <div class="title">ABOUT ME</div>
            <div class="listAbout">
                <div class="item">
                    <h3>About</h3>
                    <div class="content">As soon-to-be a graduate in Information Technology with a strong passion for technology. My strengths include a proactive attitude towards learning, the ability to handle high pressure situations, effective teamwork, and excellent communication skills. I am actively seeking opportunities to apply my knowledge and contribute to a dynamic and innovative work environment.</div>
                </div>
                <div class="item">
                    <div class="item1">
                        <h3>Basic Information</h3>
                        <ul>
                            <li>Date of birth</li>
                            <li>Phone</li>
                            <li>Email</li>
                            <li>Address</li>
                        </ul>
                    </div>
                    <div class="item1">
                        <h3>Education</h3>
                        <ul>
                        <li><i>Sep 2020 - Now</i></li>
                        <li><b>DANANG UNIVERSITY OF SCIENCE AND TECHNOLOGY</b></li>
                        <li>Field of study: Information Technology (Specialty - Japanese Language)</li>
                        <li>GPA: 3.2/4</li>
                        </ul>
                    </div>
                </div>
                <div class="item">
                    <h3>Hobby</h3>
                    <ul>
                        <li>Listening to music</li>
                        <li>Watching a movie</li>
                        <li>Organizing games and events</li>
                        <li>Participating in volunteering</li>
                        <li> <a href="https://instagram.com/vantanh101" target="_blank">
                            <div class="contact-item">
                                <i class="fa-brands fa-instagram contact-icon"></i>
                                <span>vantanh101</span>
                            </div>
                        </a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!--Objectives -->
        <div id="objectives">
            <div class="title">Objectives</div>
        </div>
        <!-- Skill -->
        <div id="skills">
            <div class="title">Skills</div>
        </div>
        <!-- Certificates -->
        <div id="certificates">
            <div class="title">Certificates</div>
        </div>
        <!-- Experience -->
        <div id="experience">
            <div class="title">Experience</div>
        </div>
        <!-- Projects -->
        <div id="projects">
            <div class="title">Projects</div>
        </div>
        <!-- Activities -->
        <div id="activities">
            <div class="title">Activities</div>
        </div>
    </div>
</body>
</html>