<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CV-DaoThuyTrang</title>
    <link rel="stylesheet" href="../../CV/css/style.css">
</head>
<body>
    <header>
        <div class="logo">
            <img src="../../CV/image/logo.jpg" alt="avatar" class="rounded-circle">
            <a>Thuy Trang</a>
        </div>
        <ul class="nav">
            <li>About me</li>
            <li>Objectives</li>
            <li>Skill</li>
            <li>Experience</li>
            <li>Activities</li>
            <li>Certificates</li>
        </ul>
    </header>
</body>
</html>